<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8"/>
	<meta http-equiv="x-ua-compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>WebpageTabTitle</title>

	<!-- Bootstrap is included via CDN. -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
		  crossorigin="anonymous">

	<!-- CSS file style.css is linked with this html. -->
	<link rel="stylesheet" href="../../static/core/css/style.css">

</head>
<body>

<!---------------------------------------------------------------------------------------------------------------------------------->



<!--BOOTSTRAP DEFAULT CONTAINER-->
<div class="container">

	<!--NAVBAR INCLUDES HERE-->
	{% include 'core/navbar.html' %}
	<br>

	{% block page_heading %}{% endblock %}

	<!--BLOCK FOR PAGE INDEPENDENT CONTENT-->
	{% block page_content %}

		<!--MESSAGE ALERTS-->
		{% include 'core/messages.html' %}

	{% endblock %}
	<br><br>

	<!--FOOTER INCLUDES HERE-->
	{% include 'core/footer.html' %}

</div>



<!---------------------------------------------------------------------------------------------------------------------------------->

<!-- JavScript file app.js is linked with this html. -->
<script src="../../static/core/js/app.js"></script>

<!-- JavScript for Bootstrap is included via CDN. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous">
</script>

</body>
</html>
